{% extends 'banking_app/base.html' %} {% block content %}
<h1>hi</h1>
<!-- <ul>
  <h2>Your accounts:</h2>
  {% for account in accounts %}
  <ol>
    <li style="display: flex; justify-content: space-between">
      type:
      <span style="font-size: 20px; font-weight: bold"
        >{{ account.account_type }}</span
      >
      number:
      <span style="font-size: 20px; font-weight: bold"> {{ account.pk }}</span>
      balance:
      <span style="font-size: 20px; font-weight: bold"
        >{{ account.balance }}</span
      >
      <a href="{% url 'banking_app:activity' account_id=account.pk %}"
        >view account activity</a
      ><a href="{% url 'banking_app:transfers' account_id=account.pk %}"
        >Make a transfer</a
      >
    </li>
    <hr />
  </ol>
  {% endfor %}
</ul> -->
{% endblock %}
